.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8%;
    background-color: black;
    text-align: center;
    color: white;
}

.opacity {
    opacity: 50%;
}

.padding {
    padding-bottom: 5%;
    padding-top: 4%;
}

.header-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }

.header-text {
    padding-left: 1%;
}

.negative-padding {
    margin-right: -80px;
    margin-left: -80px;
}